<% include partials/header %>
<div class="home-body">
    <div id="home-text">
        <h1>FLOAT  YOUR  BOAT</h1>
        <hr>
        <h3>Party Boat Packages and Event Hosting</h3>
        <!-- <h3>The experience of your lifetime is one sail away</h3> -->
        <a href="/boats">BROWSE BOATS</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
