<% include partials/header %>


<div class="container new-boat-container border-gradient container-max">

    <div class="new-party-h ">
        <h1>Host Boat Party</h1>
    </div>
    <div>
        <form action="/boats" method="POST">
            <input class="form-control" type="text" name="name" placeholder="name">
            <input class="form-control" type="text" name="image" placeholder="image url">
            <input class="form-control" type="text" name="details" placeholder="event details">
            <button class="btn btn-lg" id="new-boat-btn">Let's PARTAY</button>
        </form>
    </div>
    <a href="/boats" class="back-btn-style">GO BACK</a>
</div>

<% include partials/footer %>