<% include partials/header %>


<div class="container new-boat-container">

    <div class="new-party-h .border-gradient">
        <h1>Host Boat Party</h1>
    </div>
    <div style="width:40%">
        <form action="/boats" method="POST">
            <input class="form-control" type="text" name="name" placeholder="name">
            <input class="form-control" type="text" name="image" placeholder="image url">
            <button class="btn btn-lg" id="new-boat-btn">Let's PARTAY</button>
        </form>
    </div>
    <a href="/boats">GO BACK</a>
</div>

