<% include partials/header %>
<header class="jumbotron" id="show-jumbo">
    
    <div class="jumbotron-overlay" id="show-overlay">
        <h1 id="show-jumbo-title"><%=boat.name%></h1>
    </div>
</header>


<div class="container border-gradient">
        <p>Event: <%=boat.name%></p>
        <img src="<%=boat.image%>">
</div>