/* *{
    border: 1px solid green;
} */

.new-party-h{
    padding: .1rem;
    border-style:solid;
    border-image:linear-gradient(rgb(87, 83, 83), transparent) 1;
    border-bottom:0;    
}

.new-party-h h1{
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.845); 
    color: white;
}

.new-boat-container form input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}

.new-boat-container h1{
    font-family: 'Playfair Display', serif;
}

#new-boat-btn{
    font-family: 'Playfair Display', serif; 
    letter-spacing: .1rem;
    color: white;
}

